body, html, *{
    font-size: 10px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(67, 23, 23);
}

h1{
    text-align: center;

    font-size: 10rem; 
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;

    color: gold
}


h2 {
    color: gold;

    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-size: 5.5rem ;

    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.inputcard{
    background-color: rgb(25, 30, 89);
    border: solid rgb(42, 67, 165);
    border-width: 1.5rem;
    border-radius: 3.25rem;

    width: 50%;
    height: 30vw;

    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5vw;
}

.btn{
    display: block;
    text-align: center;

    border-radius: 0.5rem;
    border-width: 1.5rem;
    border: solid darkslateblue;

    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    color: black;
}
