body, html, *{
    font-size: 10px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(67, 23, 23);
}

h1{
    text-align: center;

    font-size: 10rem; 
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;

    color: gold
}


h2 {
    color: gold;

    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-size: 5.5rem ;

    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.inputcard{
    background-color:darkblue;
    border: solid rgb(10, 10, 94);
    border-radius: 2rem;
    border-width: 1.5rem; 
}

.questions{

}
    