body, html, *{
    font-size: 10px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(67, 23, 23);
}

h1{
    text-align: center;

    font-size: 10rem; 
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;

    color: gold
}


h2 {
    color: gold;

    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-size: 5.5rem ;

    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    transition: transform 0.5s ease-in-out;
}


.inputcard{
    background-color:darkblue;

    border: solid rgb(10, 10, 94);
    border-radius: 2rem;
    border-width: 1.5rem; 

    width: 55%;
    height: auto;
    min-height: 25rem;
    min-width: 35rem;
    flex-shrink: 0;

    margin: 5% auto;
    margin-top: 3%;
    padding: 2.5rem;
    padding-top: 1rem;
}

.form{

    background-color: black;
    border: solid rgb(10, 10, 94);
    border-radius: 2rem;
    border-width: 1.5rem; 
    padding: 1.25rem;

    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;

    color: aliceblue;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
}


p{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: gold;
    text-align: center;
    font-size: 1.85rem;
    transition: transform 0.5s ease-in-out;

}

button{
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.85rem;

    border-radius: 2rem;

    color: black;
    text-align: center;
    margin: 1rem; 
    padding: 0.5rem;
    display: block;
}

button:hover{
    transition-duration: 0.2s;
    background-color: gold;
    transform: scaleY(1.2);
}

button:active{
    transition-duration: 0.2s;
    background-color: goldenrod;
    transform: scaleX(1.2);
}

input{
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.85rem;

    border-radius: 2rem;

    color: black;
    margin: 0.75rem; 
    padding: 0.5rem;
}

.inputorganizer {
    background-color: slateblue;
    border: solid darkslateblue;
    border-radius: 2rem;
    border-width: 1.5rem;

    width: 85vw;
    height: auto;

    margin-top: 5rem;
    margin-left: 7%;
    margin-right: 7%;

    padding: 1rem;

    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between; 
}

#stuffContainer {
    display: flex;
    flex-wrap: wrap; 
    gap: 3rem; 
    justify-content: space-evenly; 
}

#stuffContainer > div {
    flex: 28%; 
    max-width: 28%; 
    min-width: 35rem;
    margin: 0; 
    box-sizing: border-box; 


    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2.95%;
}

.stuffcontainer img {
    width: 75%; 
    height: auto;
    border-radius: 0.5rem;
    margin-top: 15rem;
    margin: auto;
}

.stuffcontainer h3 {
    font-family: 'Handjet', sans-serif;
    color: gold;
    margin: 0.5rem 0;
    font-size: 4.5rem;
}

.remove-button {
    background-color: slateblue;
    color: white;

    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    display: block;
    margin-top: 1rem;
    width: 75%; 
    margin: auto;
    margin-top: 2.5rem;

}

.remove-button:hover {  
    background-color: darkslateblue;
    transition-duration: 0.2s;
    transform: scaleY(1.2);
    animation: ease-in-out;
}

.cardheader:hover{
    transition-duration: 0.3s;
    transform: scaleX(1.2);
}

p:hover{
    transition-duration: 0.3s;
    transform: scaleX(1.2);
}


img:hover {
    animation: rotateScale 2.25s ease-in-out;
}

@keyframes rotateScale {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.075) rotate(20deg);
    }
    50% {
        transform: scale(1.1) rotate(-20deg);
    }
    75% {
        transform: scale(1.15) rotate(20deg);
    }
    100% {
        transform: scale(1);
    }
}


